@using System.Security.Claims;
@using Microsoft.EntityFrameworkCore;
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -KSol.IT RDP Gateway</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="h-100 d-flex flex-column">
    <header class="d-flex flex-shrink-0 flex-grow-0">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light d-flex flex-grow-1">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">KSol.IT RDP Gateway</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="flex-grow-1">
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer class="d-flex flex-shrink-0 flex-grow-0 footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Maximilian Kenfenheuer
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fontawesome/js/all.min.js"></script>
    <script src="~/lib/showdown/showdown.min.js"></script>
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/inobounce/inobounce.min.js"></script>
    <script src="~/lib/handlebars/handlebars.min.js"></script>
    <script src="~/lib/handlebars/helpers/moment.min.js"></script>
    <script src="~/lib/handlebars/helpers/markdown.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
